@import "tailwindcss";

:root {
  color-scheme: only dark;
  --background: var(--color-neutral-950);
  --foreground: #ededed;
}

::selection {
  @apply bg-dim/20 text-foreground;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dim: color-mix(in srgb, var(--foreground) 75%, var(--background));
  --font-sans: var(--font-reddit-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}
